/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}

body {
margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
line-height: 60px; /* Vertically center the text there */
background-color: rgba(245, 245, 245, 0.46);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.nav-bar {
    position: relative;
    z-index: 10;
}

footer.container {
width: auto;
max-width: 680px;
padding: 0 15px;
}

.invalid {
    border-color: #dc3545;
}

.fa-trash, .bi-clipboard {
    cursor: pointer;
}

.sort-by-asc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-bottom: solid 7px #fff;
    border-top-width: 0;
}

.sort-by-desc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-top: solid 7px #fff;
    border-bottom-width: 0;
}

#workout-list { list-style-type: none; margin: 0; padding: 0; }
#workout-list li { margin: 0 3px 3px 3px; font-size: 1.4em; }
